body
{
    background: rgb(214, 214, 214);
    transition: .5s;

}
#canvas
{
    border: 8px solid rgb(251, 255, 44);
    margin: 10px 0 10px 0;
    cursor: pointer;
}
#colors button
{
    width: 40px;
	height: 40px;
	border-radius: 100%;
	margin-top: 0px;
    padding: 10px;

}
.btnborrar
{
    background: black;
    color: white;
    width: 100px;
    height: 30px;


}
.btnborrar:active
{
    background: rgb(34, 34, 34);
    color: rgb(255, 255, 255);
}
#black 
{
    background: black;
}
#pink 
{
    background: pink;
}
#red
{
    background: red;
}
#green 
{ 
    background: green;
}
#blue 
{
    background: blue;
}
#orange 
{
    background: orange;
}
#Gray
{
    background: Gray;
}

#yellow 
{ 
    background: yellow;
}
#purple 
{
    background: purple;
}
#Brown 
{
    background: Brown;
}
#greenyellow
{
    background: greenyellow;
}
#Crimson
{
    background: Crimson;
}
#white
{
    background: white;
}
.colors
{
    position: absolute;
    right: 0;
    padding: 8px;
    display: flex;
    background: #fff;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 25px;
    top: 5%;
    transition: .5s;

}
.colors span
{
    position: relative;
    width: 20px;
    height: 20px;
    background: var(--clr);
    margin: 10px;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s;
}
.active 
{
    transition: .5s;
    border: 2px solid #111;
    scale: 1.5;

}
@media (max-width: 700px)

{
.colors{
    position: relative;
    top: 10px;
    width: 45px;
    
}
.colors span
{
    position: relative;
    margin: 5px;
}

}