/*
	App name: PlayMuze
	Created by Kayla Onobun
	Owned by Jadene & Kayla Onobun
	Created on the 7th of September, 2020
	Finished on the 13th of Sept., 2020
	Do not copy
	
	This version has more songs and better user-experience
	Great in potrait mode
	Please tell me if there's any bug in the code
	Enjoy!!!
*/ 










* {
	padding: 0;
	margin: 0;
	user-select: none;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	-ms-user-select: none;
	font-family: 'Raleway', sans-serif;
}
::-webkit-scrollbar {  /* Remove scrollbar space */
		width: 0px;
		background: transparent;
}
::-ms-scrollbar {  /* Remove scrollbar space */
		width: 0px;
		background: transparent;
}
::-moz-scrollbar {  /* Remove scrollbar space */
		width: 0px;
		background: transparent;
}
::-o-scrollbar {  /* Remove scrollbar space */
		width: 0px;
		background: transparent;
}
::-khtml-scrollbar {  /* Remove scrollbar space */
		width: 0px;
		background: transparent;
}
#loader{ 
	background-color: #fff;
	height: 100vh;
	width: 100vw;
	left: 0;
	bottom: 0;
	position: fixed;
	z-index: 444;
	transition: 1.5s;
}
#loader .loader2 {
	color: white;
	position: absolute;
	font-size: 60px;
	background: linear-gradient(to right, red 0%, blue 100%);
	background-size: 100%;
	text-transform: capitalize;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
	font-family: "Iceberg";
}

#loader p {
	background-size: 100%;
	background: linear-gradient(to right, deeppink 0%, blue 100%);
	text-transform: capitalize;
	-webkit-background-clip: text;
	-moz-background-clip: text;
	-webkit-text-fill-color: transparent; 
	-moz-text-fill-color: transparent; 
	-moz-text-fill-color: transparent;
	animation: opaque 1 3s;
}
@keyframes opaque {
	0% {
		opacity: 0;
	}
	90% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
.loader2{
	animation-name: load;
	animation-duration: 3s;
	animation-iteration-count: 1;
}
@keyframes load {
	from {
		margin-left: -100%;
	}
	1% {
		transform: rotate(0);
	}
	99% {
		transform: rotate(360deg);
	}
	to {
		margin-left: 0;
	}
}
#nav {
	background-color: #000FFF;
	padding: 10px;
	width: 100%;
	position: fixed;
	top: 0;
	left: 0;
	color: white;
	z-index: 2;
}
.last, .search {
	font-size: 24px;
}
#nav .menu {
	font-size: 27px;
}
#nav span {
	font-size: 27.5px;
	margin-left: 4%;
}
.nav-name {
	font-family: 'Iceberg', serif;
	font-weight: 700;
}
.recently {
	font-size: 20px;
}

@media screen and (orientation:landscape) {
.recently {
	font-family: 'Raleway', sans-serif;
	margin-top: 9%;
	margin-left: 3%;
}
.loader2 {
	top: 30%;
	left: 30.0%;
}
.last {
	margin-left: 55%;
}
.search {
	margin-left: 2%;
}
}
@media screen and (orientation:portrait) {
.recently {
	font-family: 'Raleway', sans-serif;
	margin-top: 15%;
	margin-left: 3%;
}
.loader2 {
	top: 30%;
	left: 17.0%;
}
.last {
	margin-left: 35%;
}
.search {
	margin-left: 3%;
}
}
.recent {
	overflow: scroll;
	display: block;
	width: 100%;
}
.recently2 {
	font-size: 20px;
	margin-left: 3%;
	font-family: 'Raleway', sans-serif;
}
.flex{
   display: flex;
}

	.home-heading-1{
		position: relative;
		font-family: 'Raleway', sans-serif;
		font-size: 30px;
		color: #363c46;
		margin-left: 20px;
		font-weight: 600;
	}

	.home-heading-2{
		font-family: 'Raleway', sans-serif;
		font-size: 16px;
		color: #363c46;
		margin-left: 20px;
		font-weight: 600;
		margin-top: 32px;
	}.home-card-1{
		position: relative;
		margin-left: 20px;
		background: linear-gradient(45deg, lightblue, deepskyblue);

		border-radius: 20px;
		margin-top: 10px;
		margin-bottom: 32px;
		box-shadow: 0px 4px 11px #ffdbdb;
		transition: 0.2s;
	}

  

	.home-card-2{
		position: relative;
		margin-left: 20px;
		background: linear-gradient(45deg, #1c97c5, #39baeb);

		border-radius: 20px;
		margin-top: 10px;
		margin-bottom: 32px;
		box-shadow: 0px 4px 11px #bdedff;
		transition: 0.2s;
	}

	.home-card-2:active{
		transition: 0.1s;
		transform: scale(1.01);
		opacity: 0.8;
	}

	.home-c--1{
		margin-top: 20px;
		margin-left: 20px;
		margin-bottom: 20px;
	}

	.home-c-1-img{
		height: 90px;
		width: 90px;
		border: 4px solid deepskyblue;
		border-radius: 100%;
	}
	.home-c-2-img{
		height: 90px;
		width: 90px;
		border: 4px solid deeppink;
		border-radius: 100%;
	}

	.home-c-2{
		flex-direction: column;
		color: #000FFF;
		font-family: 'Raleway', sans-serif;
		flex-grow: 1;
		margin-left: 10px;
		width: calc(60px + 100px);
	}

	.home-c-2-1{
		font-size: 20px;
		font-weight: 700;
		margin-top: 20.4px;
	}
.home-card-1:active {
	opacity: 0.8;
	transform: scale(1.01);
	transition: 0.5s;
}
	.home-c-2-2{
		font-size: 16px;
		color: rgb(255 255 255 / 90%);
		margin-top: 4px;
	}

	.home-c-2-3{
		color: rgb(255 255 255 / 0.80);
		font-size: 16px;
		margin-top: 4px;
	}
/* Search bar */
.search-bar {
	width: 100%;
	background-color: rgb(0,100,255);
	padding: 12px;
	color: #fff;
	top: 0;
	position: fixed;
	left: 0;
	z-index: 333;
}
.search-bar i {
	font-size: 22px;
	margin-right: 3px;
}
.search-bar div {
	display: inline-block;
}
.search-bar input {
	font-size: 18px;
	background-color: transparent;
	border-bottom-width: 1.5px;
	width: 80%;
	border-top-width: 0px;
	border-left-width: 0px;
	border-right-width: 0px;
	border-bottom-color: white;
	outline: none;
	padding: 3px;
	color: #fff;
	font-family: 'Raleway', sans-serif;
}
.search-bar input::placeholder {
	color: #fffffa; /* Colour of the placeholder*/
}
.menu-bar {
	/* Designing the menu bar */
	/* background-color: rgb(0,180,255); */
	background-color: rgb(0,190,255);
	height: 100vh;
	width: 100vw;
	position: fixed;
	top: 0;
	left: -100vw;
	z-index: 222;
	transition: 1.4s;
	opacity: 0;
}
.bck {
	padding-bottom: 60px;
	font-size: 30px;
	margin-top: 2%;
	margin-left: 2%;
}
.menu-bar button {
	background-color: rgb(0,150,255);
	font-family: 'Raleway', sans-serif;
	padding: 6px;
	border-radius: 5px;
	display: block;
	font-size: 18px;
	width: 85%;
	margin-bottom: 10px;
	text-transform: uppercase;
	border: 1px solid rgb(0,150,255);
	outline: none;
}
.menu-bar a {
	text-decoration: none;
}
.menu-bar button:hover {
	background: rgb(0,120,255);
}
.menu-bar button:active {
	transform: scale(1.1);
}
.share {
	background-color: #fdfdfd;
	padding: 5%;
	text-align: center;
	border-radius: 4px;
	box-shadow: 4px 3px 2px 1px #666;
	margin: auto;
	position: fixed;
	width: 80%;
	top: 20%;
	left: 4%;
	z-index: 2;
}
.share-title {
	margin-bottom: 5%;
	font-size: 20px;
	font-family: 'Berkshire Swash', serif;
}
.share h3 {
	text-align: right;
}
.share1 {
	background-color: #000edd;
	padding: 2%;
	padding-left: 4%;
	padding-right: 2.5%;
	border-radius: 100%;
	border: 1px solid #000;
	font-size: 30px;
	margin-left: 2%;
	margin-bottom: 2%;
}
.share1 a {
	color: #fff;
	text-decoration: none;
}
.share2 {
	background-color: #fff;
	padding: 2%;
	padding-left: 4%;
	padding-right: 1%;
	border-radius: 100%;
	border: 1px solid #000;
	font-size: 30px;
	margin-left: 1%;
	margin-bottom: 1%;
}
.share2 a {
	color: dodgerblue;
	text-decoration: none;
}
.share3 {
	background-color: #12345f;
	padding: 2%;
	padding-left: 4%;
	padding-right: 4%;
	border-radius: 100%;
	border: 1px solid #000;
	font-size: 30px;
	margin-left: 1%;
	margin-bottom: 1%;
}
.share3 a {
	color: #fff;
	text-decoration: none;
}
.share4 {
	background-color: #5e5e5e;
	padding: 2%;
	padding-left: 3%;
	padding-right: 1%;
	border-radius: 100%;
	border: 1px solid #000;
	font-size: 30px;
	margin-left: 1%;
	margin-bottom: 1%;
}
.share4 a {
	color: #fff;
	text-decoration: none;
}
.share5 {
	padding: 2%;
	font-size: 70px;
	margin-left: 1%;
	margin-bottom: 1%;
}
.share5 a {
	color: #bd081c;
	text-decoration: none;
}
.share6 {
	background-color: teal;
	padding: 2%;
	margin-left: 1%;
	margin-right: 1%;
	padding-left: 3%;
	padding-right: 3%;
	border-radius: 100%;
	border: 1px solid #000;
	font-size: 30px;
	margin-bottom: 0.2%;
}
.share6 a {
	color: #fff;
	text-decoration: none;
}
.notifications {
	text-align: center;
	position: fixed;
	top: 10%;
	left: 1%;
	font-size: 20px;
	font-family: sans-serif;
	background-color: #fdfdfd;
	padding: 5px;
	box-shadow: 2px 2px 2px 2px #999;
	border-radius: 3px;
	font-family: 'Raleway', sans-serif;
	width: 95%;
}
.notifications img {
	height: 150px;
	border-radius: 100%;
}
.notifications small {
	font-size: 13px;
	display: block;
	text-align: right;
	font-family: sans-serif;
	margin-top: 2%;
	margin-bottom: 2%;
}
.notifications span {
	color: dodgerblue;
}
.notifications hr {
	background-color: #252525;
	height: 0.5px;
	border-width: 0;
	margin-top: 3%;
	margin-bottom: 3%;
}
.musicFooter {
	background-color: #FDFDFD;
	padding: 10px;
	width: 100%;
	position: fixed;
	bottom: 0;
	left: 0;
	box-shadow: 0 -6px 5px -2px rgba(204, 203, 203, 0.5);
	color: #000;
	z-index: 2;
}
.musicFooter marquee {
	font-size: 24px;
	width: 86%;
}
.musicFooter i {
	font-size: 30px;
}
.ply {
	margin-left: 9px;
	position: absolute;
}
.pase {
	margin-left: 13px;
	position: absolute;
}
/* The thumbnail image of the song */
#thumb {
	height: 240px;
	width: 240px;
	border-radius: 100%;
	margin-top: 5%;
}
/* The artist of the song */
.songArtist {
	font-family: 'Raleway', sans-serif;
	margin-top: 2%;
}
/* Name of the song */
.songName {
	font-family: 'Iceberg', serif;
	margin-top: 2%;
	margin-bottom: 2%;
}
/* The whole song preview */
.songPreview {
	background-color: dodgerblue;
	width: 100vw;
	height: 100vh;
	position: fixed;
	z-index: 9;
	top: -200vh;
	left: 0;
	transition: 1s;
	color: #fff;
}
/* The icon that leaves the volume settings or the song preview */
.back {
	font-size: 30px;
	margin-left: 3%;
	margin-top: 2%;
	position: fixed;
}
/* The icon that loops the song being played */
.repeat {
	font-size: 32px;
	padding: 2%;
	border-radius: 100%;
	margin-left: 2%;
}
/* The icons that pick if the song should be played or paused */
#play {
	position: absolute;
	font-size: 40px;
	margin-left: 32%;
}
#pause {
	position: absolute;
	font-size: 40px;
	margin-left: 33%;
}   
/* The label the volume range */
.volume {
	font-size: 30px;
	margin-left: 75%;
	position: absolute;
} 
/* Designing the volume range begins */
input[type=range] {
  -webkit-appearance: none;
  -ms-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -khtml-appearance: none;
  margin: 18px 0;
  width: 60%;
}
input[type=range]:focus {
  outline: none;
}
input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 8.4px;
  background: darkblue;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-webkit-slider-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
  -webkit-appearance: none;
  margin-top: -14px;
}
input[type=range]:focus::-webkit-slider-runnable-track {
  background: #367ebd;
}
input[type=range]::-moz-range-track {
  width: 60%;
  height: 8.4px;
  cursor: pointer;
  background: #3071a9;
  border-radius: 1.3px;
  border: 0.2px solid #010101;
}
input[type=range]::-moz-range-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
}
input[type=range]::-ms-track {
  width: 100%;
  height: 8.4px;
  background: transparent;
  border-color: transparent;
  border-width: 16px 0;
  color: transparent;
}
input[type=range]::-ms-fill-lower {
  background: #2a6495;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-fill-upper {
  background: #3071a9;
  border: 0.2px solid #010101;
  border-radius: 2.6px;
}
input[type=range]::-ms-thumb {
  border: 1px solid #000000;
  height: 36px;
  width: 16px;
  border-radius: 3px;
  background: #ffffff;
}
input[type=range]:focus::-ms-fill-lower {
  background: #3071a9;
}
input[type=range]:focus::-ms-fill-upper {
  background: #367ebd;
}
/* Designing the volume range ends */

/* The value of the volume range*/
.vol-set, .speed-set {
	color: #000;
	font-size: 23px;
	background-color: #fff;
	padding: 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	width: 100vw;
	font-family: 'Raleway', sans-serif;
}
/* 👇 This tells if the loop is on or off 👇 */
.notif {
	background-color: #666;
	color: #fff;
	padding: 5px;
	display: inline-block;
	border-radius: 2px;
	opacity: 0;
	font-family: 'Raleway', sans-serif;
	bottom: 7vw;
	left: 40%;
	position: absolute;
}
.re {
	margin-left: 10%;
	padding: 2%;
	border-radius: 100%;
	font-size: 30px;
}
.re:hover, .stop:hover {
	background-color: #99f;
}
.stop {
	margin-left: 22%;
	font-size: 33px;
	padding: 2%;
	border-radius: 100%;
}
.spin {
	animation: spin infinite 2s;
	animation-timing-function: linear;
	animation-duration: 5s;
	animation-play-state: paused;
}
@keyframes spin {
	0% {
		transform: rotate(0);
	}
	100% {
		transform: rotate(360deg);
	}
}








