body
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-attachment: fixed;
    background: url(/img/fondo-web.jpg) center local;
    background-attachment: fixed;}
header h1
{
    text-align: center;
    color: red;
    transition: .5s;
    animation: title-transition 2s alternate-reverse infinite;
}
@keyframes title-transition {
    0%
    {
        filter: grayscale(1);
    }
    50%
    {
        filter:brightness(2);
    }
    
}
img
{
    height: 100%;
    width: 220px;

}
video
{
    height: 100%;
    width: 220px;

}
.footer-cuerpo
{
    display: inline-block;
}
.cuerpo-footer
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 40px ;
}
.cuerpo-footer .carta-footer
{
    position: relative;
    width: 200px;
    height: 400px;
    overflow: hidden;
    box-shadow: 0 5px 15px rgba(155, 155, 155, 0.2);
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 12px;
}
.cuerpo-footer .carta-footer .contenido-footer
{
    position: absolute;
    bottom: -160px;
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
    flex-direction: column;
    backdrop-filter: blur(15px);
    box-shadow: 0 -10px 10px rgba(252, 252, 252, 0.1);
    border: 1px solid rgba(255, 255, 255, 255.1);
    transition: bottom 0.5s;
    transition-delay: 0.8s;
}
.cuerpo-footer .carta-footer:hover .contenido-footer
{
    bottom: 0;
}
.cuerpo-footer .carta-footer .contenido-footer .contenido-bx h3
{
    color: #111;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
    margin: 20px 0 15px;
    line-height: 1.1em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(-20px);
    transition-delay: 0.6s;
}
.cuerpo-footer .carta-footer .contenido-footer .contenido-bx h3
{
    opacity: 1;
    transform: translateY(0px);
}
.cuerpo-footer .carta-footer .contenido-footer .contenido-bx h3 span
{
    font-size: 12px;
    font-weight: 300;
    text-transform: initial;
}
.cuerpo-footer .carta-footer .contenido-footer .redes-footer
{
    position: relative;
    bottom: 10px;
    display: flex;
}
.cuerpo-footer .carta-footer .contenido-footer .redes-footer li
{
    list-style: none;
    margin: 0 10px;
    transform: translateY(40px);
    transition: 0.5s;
    opacity: 0;
    transition-delay: calc(0.2s * var(--i));
}
.cuerpo-footer .carta-footer:hover .contenido-footer .redes-footer li
{
    transform: translateY(0px);
    opacity: 1;
}
.cuerpo-footer .carta-footer:hover .contenido-footer .redes-footer li a:hover
{
    color: #ececec;
}
.cuerpo-footer .carta-footer:hover .contenido-footer .redes-footer li a:active
{
    color: rgb(207, 207, 207);
}

.cuerpo-footer .carta-footer .contenido-footer .redes-footer a
{
    color: #111;
    font-size: 24px;
}
.enlaces button 
{

    background: linear-gradient(10deg, red,  green);
    width: 60px;
    height: 40px;
    border-radius: 25%;
    border: none;
    animation: colorcambiar 1s linear infinite;
}
.enlaces button a
{
    color: white;
    font-size: 1em;
}
@keyframes colorcambiar
{
    0%
    {
        background-position: 300px;

    }
}